<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brickfarm.mappers.CouponPolicyMapper">
	<!-- ==[송지영]========================================================================================================================================== -->
	<!-- ================================================================================================================================================== -->

	<!-- ==[김미형]========================================================================================================================================== -->
	<select id="findCouponList" resultType="AdminCouponVo">
		select * from coupon_policy
	</select>
	
	<select id="findCouponOptional" resultType="AdminCouponVo">
		select * from coupon_policy	where (member_grade_name is null
			<if test="member_grade_name != 'all'">
			or member_grade_name = #{member_grade_name}
			</if>
			) and status = 'Y'
		
	</select>

	<insert id="makeCoupon">
		insert into coupon_policy(coupon_policy_name, member_grade_name,
		coupon_discription, discount_rate, validity_period)
		select #{coupon_name}, #{member_grade_name}, #{coupon_discription}, #{discount_rate}, #{validity_period}
	</insert>
	
	<update id="removeCoupon">
		update coupon_policy set status = 'D' where coupon_policy_no in (${value})
	</update>
	
	<update id="updateAvailable">
	update coupon_policy set status = #{isAvailable} where coupon_policy_no in 
	(
	<foreach collection="change_coupon_no" item="coupon" separator=" , ">
	${coupon}
	</foreach>
	)
	</update>
	<!-- ================================================================================================================================================== -->

	<!-- ==[이경민]========================================================================================================================================== -->
	<!-- ================================================================================================================================================== -->

	<!-- ==[염세환]========================================================================================================================================== -->
	<!-- ================================================================================================================================================== -->

	<!-- ==[박상진]========================================================================================================================================== -->
	<!-- ================================================================================================================================================== -->

	<!-- ==[송영태]========================================================================================================================================== -->
	<!-- ================================================================================================================================================== -->

	<!-- ==[김용진]========================================================================================================================================== -->
	<!-- ================================================================================================================================================== -->
</mapper>