<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brickfarm.mappers.EventLogMapper">
	<!-- ==[송지영]======================================================================================================================================== -->
	<insert id="insertEventLog">
		<selectKey keyProperty="event_no" order="BEFORE"
			resultType="int">
			SELECT max(event_no) from event
		</selectKey>
				insert into event_log(event_no,
				product_code) values
				(#{event_no},#{product_code})
	</insert>
	<delete id="deleteEventProduct">
		delete from event_log where product_code =
		#{product_code} and event_no = #{event_no}
	</delete>
	<!-- ================================================================================================================================================== -->

	<!-- ==[김미형]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[이경민]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[염세환]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[박상진]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[송영태]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[김용진]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->
</mapper>