<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brickfarm.mappers.InactiveMemberMapper">
		
   <!-- ==[송지영]======================================================================================================================================== -->
   
   <!-- ================================================================================================================================================== -->

   <!-- ==[김미형]======================================================================================================================================== -->
   <select id="findInactiveMember" resultType="AdminInactiveMemberVO">
   	 select i.*, m.* from inactive_member i inner join member m
   	 on i.member_no = m.member_no 
   	<where>
   	 <if test="member_name != ''">
			and m.member_name like '%${member_name}%'
		</if>
		<if test="member_id != ''">
			and m.member_id like '%${member_id}%'
		</if>
		<if test="date_start != '' and date_end != ''">
			and DATE_FORMAT(conversion_date,'%Y-%m-%d') between #{date_start} and #{date_end}
		</if>
		<if test="inactive_status">
			and i.release_date is null
		</if>
   	</where>
   </select>
   
   <insert id="insertInactiveMember" parameterType="java.util.List">
   	insert into inactive_member(member_no) values
   	<foreach collection="list" item="member" separator=" , ">
   	(
         ${member}
    )
   	</foreach>
   </insert>
   
   <update id="updateActiveMember">
   update inactive_member set release_date = now() where member_no = (select member_no from member where member_id = #{value}) and release_date is null
   </update>
   <!-- ================================================================================================================================================== -->

   <!-- ==[이경민]======================================================================================================================================== -->
   
   <!-- ================================================================================================================================================== -->

   <!-- ==[염세환]======================================================================================================================================== -->
   
   <!-- ================================================================================================================================================== -->

   <!-- ==[박상진]======================================================================================================================================== -->
   
   <!-- ================================================================================================================================================== -->

   <!-- ==[송영태]======================================================================================================================================== -->
   
   <!-- ================================================================================================================================================== -->

   <!-- ==[김용진]======================================================================================================================================== -->
   
   <!-- ================================================================================================================================================== -->
</mapper>