<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brickfarm.mappers.InquiryCategoryMapper">

	<!-- ==[송지영]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[김미형]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[이경민]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[염세환]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[박상진]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[송영태]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[김용진]======================================================================================================================================== -->
	<select id="selectAllInquiryCategory" resultType="UserInquiryCategory">
		SELECT * FROM inquiry_category
		ORDER BY inquiry_category_no
	</select>

	<insert id="insertInquiryCategory">
		INSERT INTO inquiry_category(inquiry_category_name)
		VALUES(#{inquiryCategoryName})
	</insert>

	<update id="updateInquiryCategoryByCategoryNo">
		UPDATE inquiry_category
		SET inquiry_category_name = #{inquiry_category_name}
		WHERE inquiry_category_no = #{inquiry_category_no}
	</update>

	<delete id="deleteInquiryCategoryByCategoryNo">
		DELETE FROM inquiry_category
		WHERE inquiry_category_no = #{inquiryCategoryNo}
	</delete>
	<!-- ================================================================================================================================================== -->
</mapper>