<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brickfarm.mappers.NoticeCategoryMapper">
	<!-- ==[송지영]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[김미형]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[이경민]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[염세환]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[박상진]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[송영태]======================================================================================================================================== -->

	<!-- ================================================================================================================================================== -->

	<!-- ==[김용진]======================================================================================================================================== -->
	<select id="selectAllNoticeCategory" resultType="UserNoticeCategory">
		SELECT * FROM notice_category
		ORDER BY notice_category_no
	</select>
	
	<insert id="insertNoticeCategory">
		INSERT INTO notice_category(notice_category_name)
		VALUES(#{noticeCategoryName})
	</insert>
	
	<update id="updateNoticeCategoryByCategoryNo">
		UPDATE notice_category
		SET notice_category_name = #{notice_category_name}
		WHERE notice_category_no = #{notice_category_no}
	</update>
	
	<delete id="deleteNoticeCategoryByCategoryNo">
		DELETE FROM notice_category
		WHERE notice_category_no = #{noticeCategoryNo}
	</delete>
	<!-- ================================================================================================================================================== -->
</mapper>