<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brickfarm.mappers.ProductImageMapper">
	<!-- ==[송지영]======================================================================================================================================== -->
	<select id="selectProductImageByCode" resultType="UserProductImageVO">
		select product_code,product_file_path from product_image where product_code = #{product_code}
	</select>
	<insert id="insertProductImg">
		insert into product_image (product_code, product_file_path) values (#{product_code}, #{product_file_path});
	</insert>
	<delete id="deleteAllProductImg">
		delete from product_image where product_code = #{product_code};
	</delete>
	<!-- ================================================================================================================================================== -->

	<!-- ==[김미형]========================================================================================================================================== 
		================================================================================================================================================== -->

	<!-- ==[이경민]======================================================================================================================================= -->
	
	<select id="selectProductDetailImages"
		resultType="UserProductImageVO">
		select * from product_image where product_code =
		#{product_code}
	</select>
	
	<!-- ================================================================================================================================================= -->

	<!-- ==[염세환]========================================================================================================================================== 
		================================================================================================================================================== -->

	<!-- ==[박상진]========================================================================================================================================== 
		================================================================================================================================================== -->

	<!-- ==[송영태]========================================================================================================================================== 
		================================================================================================================================================== -->

	<!-- ==[김용진]========================================================================================================================================== 
		================================================================================================================================================== -->
</mapper>