<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brickfarm.mappers.ProductReviewImageMapper">
<!-- ==[송지영]==========================================================================================================================================
	 ================================================================================================================================================== -->
	
<!-- ==[김미형]==========================================================================================================================================
	 ================================================================================================================================================== -->
	
<!-- ==[이경민]==========================================================================================================================================
	 ================================================================================================================================================== -->
	
<!-- ==[염세환]==========================================================================================================================================
	 ================================================================================================================================================== -->
	
<!-- ==[박상진]========================================================================================================================================== -->
	<insert id="insertProductReviewImgs" parameterType="java.util.HashMap">
		INSERT INTO product_review_image( product_review_no, original_file_name, new_file_name, thumb_file_name, file_size )
		VALUES 
		<foreach collection="fileList" item="item" separator=" , ">
		(
			#{item.product_review_no},
			#{item.original_file_name},  
			#{item.new_file_name}, 
			#{item.thumb_file_name},
			#{item.file_size}
		)
		</foreach>
	
	</insert>	 
	
	<insert id="insertProductReviewImg">
		INSERT INTO product_review_image( product_review_no, original_file_name, new_file_name, thumb_file_name, file_size )
		VALUES 
		(
			#{product_review_no},
			#{original_file_name},  
			#{new_file_name}, 
			#{thumb_file_name},
			#{file_size}
		)
	</insert>
	
	<select id="selectProductReviewImg" resultType="com.brickfarm.vo.user.psj.UserProductReviewImageVO">
		SELECT * FROM product_review_image WHERE product_review_no = #{product_review_no}
	</select>
	
	<delete id="deleteProductReviewImg">
		DELETE FROM product_review_image WHERE #{product_review_image_no}
	</delete>
	
	<delete id="deleteAll">
		DELETE FROM product_review_image WHERE product_review_no = #{product_review_no}
	</delete>
	 
<!-- ================================================================================================================================================== -->
	
<!-- ==[송영태]==========================================================================================================================================
	 ================================================================================================================================================== -->
	
<!-- ==[김용진]==========================================================================================================================================
	 ================================================================================================================================================== -->
</mapper>