<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brickfarm.mappers.ProductWishListMapper">
<!-- ==[송지영]==========================================================================================================================================
	 ================================================================================================================================================== -->
	
<!-- ==[김미형]==========================================================================================================================================
	 ================================================================================================================================================== -->
	
<!-- ==[이경민]======================================================================================================================================== -->
	<select id="selectCompareWishlist" resultType="UserLikeProductVO">
		select * from
		product_wish_list where member_no = #{member_no};
	</select>
	
	<insert id="insertAddProductToWishlist">
		insert into product_wish_list(member_no, product_code) values(#{member_no}, #{product_code})
	</insert>
	
	<delete id="deleteProductToWishList">
		delete from product_wish_list where member_no = #{member_no} and product_code = #{product_code}
	</delete>
	
	<select id="selectLikeProduct" resultType="UserProductVO">
		select product_wish_list.*, product.*, event.*, stock.stock_quantity
		from product_wish_list
		join product
		on product_wish_list.product_code = product.product_code
		join event
		on product.event_no = event.event_no
		join stock
		on product.product_code = stock.product_code
		where product_wish_list.member_no = #{member_no}
	</select>
	
	<delete id="deleteAllProductToWishList">
		delete from product_wish_list where member_no = #{member_no}
	</delete>

<!-- ================================================================================================================================================== -->
	
<!-- ==[염세환]========================================================================================================================================== -->

	<select id="getheaderwishlist" resultType="String">
		select product_wish_list_no from product_wish_list where member_no = #{member_no}
	</select>


<!-- ================================================================================================================================================== -->
	
<!-- ==[박상진]==========================================================================================================================================
	 ================================================================================================================================================== -->
	
<!-- ==[송영태]==========================================================================================================================================
	 ================================================================================================================================================== -->
	
<!-- ==[김용진]==========================================================================================================================================
	 ================================================================================================================================================== -->
</mapper>