#map {
	border: 2px solid #f5f5f5;
	box-shadow: 0 6px 15px 0 rgba(36, 37, 38, 0.08);
}

.map-info {
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #f5f5f5;
	box-shadow: 0 6px 15px 0 rgba(36, 37, 38, 0.08);
	transition: -webkit-transform 0.3s
		cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
		-webkit-transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.map-info:hover {
	-webkit-transform: translateY(-6px);
	transform: translateY(-6px);
}

.map-info span {
	color: var(--main-color);
	font-weight: 600;
}

.map-info a {
	color: #7f7f7f;
	cursor: pointer;
}

.map-info a:hover {
	color: #333333; 
}