.wrapper-content {
  display: none;
}

.wrapper-content.pop {
  display: block !important;
  animation: stick-out 0.2s;
}

@keyframes stick-out {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.area-file-upload {
  width: 100%;
  height: 100px;
  border: 1px dotted #7f7f7f;
  border-radius: 6px;
  padding: 10px;
  font-weight: bold;
  color: rgba(183, 183, 183, 150);
  font-size: 11pt;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.area-file-upload.drag {
  border-color: var(--admin-main-color);
  color: var(--admin-main-color);
}

#uploadFilesParent {
  display: none;
}

.area-file-uploaded {
  display: flex;
  padding: 15px;
  gap: 15px;
  border: 1px solid #eee;
  border-radius: 6px;
  overflow-x: auto;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.area-file-uploaded::-webkit-scrollbar {
  height: 6px;
}
.area-file-uploaded::-webkit-scrollbar-thumb {
  background-color: var(--admin-main-color);
  border-radius: 6px;
}
.area-file-uploaded::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 6px;
}

.wrapper-img {
  position: relative;
}

.wrapper-img img.img-clickable {
  cursor: pointer;
}
.wrapper-img img.img-clickable:hover {
  opacity: 0.8;
}

.wrapper-img img.img-uploaded-file {
  width: 70px;
}

.icon {
	position: absolute;
	cursor: pointer;
	width: 20px;
	top: 0;
	right: 0;
	border: 1px solid #fff;
	border-radius: 50%;
}

.icon:hover {
	filter: saturate(400%);
}

.modal {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal-dialog {
  margin: 0 auto !important;
}

.wrapper-modal-img {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

.wrapper-modal-img img#imgModal {
  max-width: 80vw;
  max-height: 70%;
  background-color: #fff;
  border-radius: 6px;
  border: 3px solid var(--admin-main-color);
  pointer-events: auto;
}

.wrapper-modal-img img.icon-controller {
  width: 50px;
  height: 50px;
  cursor: pointer;
  pointer-events: auto;
}

.wrapper-modal-img img.icon-prev-arrows {
  content: url("/resources/admin/images/kyj/previous_arrow.png");
}
.wrapper-modal-img img.icon-prev-arrows:hover {
  content: url("/resources/admin/images/kyj/previous_arrow_hover.png");
}

.wrapper-modal-img img.icon-next-arrows {
  content: url("/resources/admin/images/kyj/next_arrow.png");
}
.wrapper-modal-img img.icon-next-arrows:hover {
  content: url("/resources/admin/images/kyj/next_arrow_hover.png");
}

.textarea-inquiry-content {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  height: 300px !important;
  resize: none;
}
